.favorites-page img {
    max-height: 100px;
}

.favorites-page svg {
    cursor: pointer;
}

.favorites-page .title {
    font-size: 24px;
}

@media (max-width: 768px) {
    .favorites-page {
        min-height: 85vh;
    }

    .favorites-page img {
        display: none;
    }

    .favorites-page .title {
        font-size: 16px;
    }
}